In [98]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [99]:
dataset = pd.read_csv('trainset.csv')

In [100]:
datatypes = dataset.dtypes
print(dataset.isnull().sum())
dataset.shape

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

(614, 13)

In [101]:
dataset['Loan_ID'].nunique()

614

In [102]:
cat_cols = []
num_cols = []
for i in range(len(datatypes)):
    if datatypes[i]=='object':
        unqval = dataset[datatypes.index[i]].nunique()
        if unqval < 10:
            cat_cols.append(datatypes.index[i])
        else:
            del dataset[datatypes.index[i]]
            print('Deleted: ',datatypes.index[i])
    else:
        num_cols.append(datatypes.index[i])

Deleted:  Loan_ID

In [105]:
cat_cols,num_cols

(['Gender',
  'Married',
  'Dependents',
  'Education',
  'Self_Employed',
  'Property_Area',
  'Loan_Status'],
 [6, 7, 8, 9, 10])

In [107]:
num = dataset[cat_cols]
cat = dataset[num_cols]

SyntaxError: invalid syntax (<ipython-input-107-b3a26e590121>, line 2)

In [103]:
if len(num_cols):
    from sklearn.impute import SimpleImputer
    imputer = SimpleImputer(missing_values=np.nan, strategy = 'mean')
    print(dataset.isnull().sum())
    for i in num_cols:
        imputer.fit(dataset.iloc[:,i:i+1])
        dataset.iloc[:,i:i+1] = imputer.transform(dataset.iloc[:,i:i+1])

    print(dataset.isnull().sum())

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'Urban'

In [104]:
dataset.dropna()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [ ]:
#if len(cat_cols):
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
X_encoded = pd.DataFrame(OH_encoder.fit_transform(X[Categorical_cols]))

# One-hot encoding removed index; put it back
X_encoded.index = X.index

# Remove categorical columns (will replace with one-hot encoding)
num_X = X.drop(Categorical_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_X = pd.concat([num_X, X_encoded], axis=1)

In [ ]:
OH_X